html {
  font-family: Helvetica;
  max-width: 80%;
  margin: auto;
  background-color: white;
  height: fit-content;
}

#storeName {
  color: black;
  margin-top: 14px;
}

img {
  float: left;
  object-fit: contain;
  width: 23%;
  height: 23%;
  background: transparent !important;
}

header {
  padding-left: 12%;
  padding-top: 5px;
  border-bottom: 2px solid #ff3333;
  background-image: linear-gradient(to bottom, #ff3333 20%, #ff3333 80%);
}

header h3 {
  color: white;
}

#mainMain {
  float: right;
  padding-left: 3em;
  padding-right: 2em;
  max-width: 82%;
}


footer {
  text-align: center;
  background-color: #ff3333;
  padding: .5em;
  clear: both;
  border-top: 2px solid #ff3333;
}

footer p {
  color: white;
}



body {
  border: 2px solid black;
  box-shadow: 15px 0 10px 0px black, -15px 0 10px 0px black;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  background-image: linear-gradient(90deg, black 17%, white 17%, white 82%);
}



#leftSide{
  float: left;
  max-width: 18%;
  height: 1800px;
}


#header {
  text-align: center;
  font-weight: bold;
  font-size: 165%;
  padding-left: 2em;
  padding-bottom: .3em;
}

#footer {
  font-size: 90%;
  padding-top: 1.5em;
}

#toTop {
  color: white;
  clear: both;
  float: left;
  margin-left: 1em;
}


/* SIDE MENU */
.vertical-menu {
  width: 15em;
  height: 100%;
  position: relative;

}

.below-menu {
  padding-top: 15em;
  width: 15em;
  position: absolute;
  bottom: 0%;
}

.sideMenuButton {
  border-radius: 3px;
  background-color: white;
  border: none;
  color: #ff3333;
  text-align: center;
  padding: 0.75em;

  width: 15em;
  transition: all 1s;
  cursor: pointer;
  margin: 5px;
}

.sideMenuButton:hover {
  background-color: #ff3333;
  color: white;
}

.vertical-menu a, .below-menu a {
  background-color: black;
  color: white;
  display: block;
  padding-left: 20px;
  padding-right: 15px;
  text-decoration: none;
}


.vertical-menu a:hover, .below-menu a:hover {
  color: #ff3333;
}

.vertical-menu a.active, .below-menu a.active {
  color: #ff3333;
}

#verticalMenuH1 {
  color: #ff3333;

  text-align:center;
}

/* MAIN MENU */

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.mainNavigation {
  overflow: hidden;
  background-color: black;
}

.mainNavigation a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mainNavigation a:hover {
  color: #ff3333;
}

.mainNavigation a.active {
  color: #ff3333;
}

.mainNavigation .search-container {
  float: right;
}

.mainNavigation input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.mainNavigation .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.mainNavigation .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .mainNavigation .search-container {
    float: none;
  }
  .mainNavigation a, .mainNavigation input[type=text], .mainNavigation .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .mainNavigation input[type=text] {
    border: 1px solid #ccc;
  }
}

/* ITEM VIEW */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.cell {
  max-width: 1190px;
  margin: auto;
  padding-left: 8em;
  padding-right: 8em;
}

.column {
  flex-basis: 25%;
  padding-left: 50px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.column img {
  width: 100%;
  margin-bottom: 1em;
}

.column img:hover {
  width: 100%;
  transform: translateY(-20px);
}

.shoppingViewTitlesALL {
  text-align: left;
  margin: 0 auto 40px;
  padding-top: 1em;
  font-size: 200%;
  position: relative;
  line-height: 60px;
  color: #ff3333;
}


.shoppingViewTitlesALL::after {
  content: '';
  background: black;
  width: 205px;
  height: 7px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-221%);
}

#productViewLink {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.column p {
  font-size: 14px;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.75em;
}




/* ADD TO CART BUTTON */
.addToCart {
  border-radius: 3px;
  background-color: #ff3333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 0.75em;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.addToCart:hover {
  background-color: black;
  color: #ff3333;
}

